$white: #fff;
$blue: #4EB6E8;
$pink: #e81454;
$red: rgba(234, 51, 152, 0.84);
$black: #000;
$previous-anchor: #e81454;
$base-font-color: #333;
$base_anchor: #2037F5;
$base_cta_back: #ff0039;
$post_content: #151515;
$green: #1FB99D;
$yellow: #ffeb00;
$grey: #eee;