$base-font-size: 16px;
$base-font-size-rem: 1.6rem;
//font for hero section
$base-font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-roboto: 'Roboto Condensed', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;
//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

// $icon-font-path:  "fonts/bootstrap/";
