//Change Bootstrap default setting
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 40px !default;
// Medium screen / desktop
$container-desktop: (1095px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:      $container-desktop !default;
//mobile nav breakpoint
$mobile-nav-break: 600px;
