.inquiries {
  margin-bottom: 60px;
}

.inquiries__address {
  font-size: 20px;
  font-weight: 300;
}

.inquiries__phone,
.inquiries__mail {
  font-size: 20px;
  font-weight: 300;
  color: $black;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.inquiries__wrapper {
  @include clearfix;
}

.inquiries {
  padding:0 15px;

  @media (min-width: 350px) {
    width: 270px;
  }
}

.inquiry__info {
  @include make-row;
}

.bcteam__wrapper {
  @include clearfix;
}

.bcteam {
  @include make-sm-column(6);
}

.bcteam__member {
  @include make-row;
  font-size: 18px;
  margin-bottom: 44px;
}

.bcteam__name {
  margin-bottom: 0;
  font-weight: 600;
}

.bcteam__title,
.bcteam__position {
  margin-bottom: 0;
  font-weight: 300;
}

.bcteam__email {
  font-weight: 300;
  color: $black;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}
