//Reset Default Style
#main {
  float: none;
  box-sizing: border-box;
  padding: 0;
  border:none;
  background-color:#fff;
  border-radius: 0;
  margin-bottom: 0;
}

#sidebar {
  float: none;
  margin-bottom: 0;
}

#main .entry-card {

		margin-bottom: 40px;


	@media (min-width: $screen-sm-min) {
		margin-bottom: 60px;
  }

}

//Custom style
.content__wrapper {
  @include container;
  @include clear-padding;
  margin-top: 20px;

  @media (min-width: $screen-sm-min) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $container-md) {
    margin-top: 40px;
  }
}

#main.content__main {
  @include make-sm-column(8);
  width: 100%;

  @media (min-width: $container-md) {
    width: 755px;
    padding-right: 30px;
  }
}

#sidebar.content__sidebar {
  @include make-sm-column(4);
  width: 100%;

  @media (min-width: $container-md) {
    width: 340px;
    padding-left: 30px;
  }
}


.widget_new_entries a:hover,
.widget_new_popular a:hover,
.widget_popular_ranking a:hover,
.wpp-list a:hover,
.entry-read a:hover,
.entry .post-meta a:hover,
.related-entry-read a:hover,
.entry a:hover,
.related-entry-title a:hover,
.navigation a:hover,
#footer a:hover,
.article-list .entry-title a:hover{
  color: $base_anchor;
}