//resume entry
blockquote.resume-sample {
	border: 1px solid #ccc;
}

blockquote.resume__bq {
	@include blockquote__job;

  &:before,
  &:after {
	  content: normal;
  }
}

blockquote.coverletter__bq--job-post {
	@include blockquote__job($blue);

  &:before,
  &:after {
	  content: normal;
  }
}

blockquote.coverletter__bq--content {
	@include blockquote__job($red);

  &:before,
  &:after {
	  content: normal;
  }
}

.resume__item__h3 {
	margin-bottom: 0.8em;
}

.resume__item__li {
	list-style: none;
	margin-bottom: 16px;
	line-height: 1.4em;

	&:last-child {
		margin-bottom: 0;
	}
}

//Drupal entry
.caution {
  background-color: rgba(255, 236, 98, 0.1);
  padding: 15px;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 40px 0;
  border: 1px dashed #fadc00;

}

.caution p {
  line-height: 2rem;
  
  &:last-child {
    margin: 0;
  }
}

.toc-custom__list {
  list-style: none;
}