header {
  @include container;
  position: static;
  background-color: $white;
  border-bottom: 1px solid #ccc;

  @media (min-width: $mobile-nav-break) {
    border-bottom: none;
  }

  @media (min-width: $screen-sm-min) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.header__inner {
  @include clearfix;
  padding-top: 8px;
  padding-bottom: 6px;

  @media (min-width: $screen-sm-min) {
    padding-top: 14px;
    padding-bottom: 10px;
  }
}

.header__inner--home {

  @media (min-width: $mobile-nav-break) {
    border-bottom: 1px solid #ccc;
  }
}



.blog__info__wrapper {
  @include make-xs-column(10);//initial column

  @media (min-width: $mobile-nav-break) {
    width: 50%;
  }

  @media (min-width: 880px) {
    width: percentage((8 / $grid-columns));
  }
}

.blog__info {
  @include make-row;
}

.blog__menu {
  @include make-xs-column(2);
  @include clear-padding;

  @media (min-width: $mobile-nav-break) {
    width: 50%;
  }

  @media (min-width: 880px) {
    width: percentage((4 / $grid-columns));
  }
}

.blog__info__title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0;

  @media (min-width: 880px) {
    font-size: 2.4rem;
    float: left;
    margin-right: 12px;
  }

  > a {
    color: $base-font-color;
    text-decoration: none;

    &:hover,
    &:focus{
      text-decoration: none;
    }

    &:visited {
      color: $base-font-color;
    }
  }
}

.blog__info__description {
  font-size: 1.2rem;
  margin-bottom: 0;

  @media (min-width: 880px) {
    font-size: 1.4rem;
    margin-top: 8px;
  }
}

.blog__menu__item {
  @include clearfix;
}
