.hero {
  @include hero-background("bg_image_c10_s.jpg");

  display: table;
  width: 100%;
}

.hero__center {
  display: table-cell;
  vertical-align: middle;
  color: $white;
  text-align: center;
  text-shadow: 1px 1px 2px #1d1d1d;

  @media (min-width: 350px) {
    width: 350px;
  }
}

.hero__center-title {
  font-weight: bold;
}

.hero__others__wrapper {
  display: table;
  width: 100%;
  padding: 14% 0;

  @include hero-background("bg_hero_others3.jpg");

  @media (min-width: $screen-sm-min) {
    height: 300px;
    padding: 0;
  }
}


.home .hero__others__wrapper {
  @include hero-background("bg_hero_others4.jpg");

}

.category-english .hero__others__wrapper {
  @include hero-background("bg_hero_others3.jpg");
}

.category-web .hero__others__wrapper {
  @include hero-background("bg_hero_others3.jpg");}

.category-jobhunting .hero__others__wrapper {
  @include hero-background("bg_hero_others3.jpg");
}

.hero__others {
  display: table-cell;
  vertical-align: middle;
  color: $white;
  text-align: center;

  @media (min-width: 350px) {
    width: 400px;
  }
}

#archive-title.hero__others__title {
  font-size: 3rem;
  padding: 0;
  text-shadow: 1px 2px 2px $black;
}
