.page__wrapper {
  @include container;
}

.page__row {
  @include make-row;
  @include clearfix;
}

.page-main {
  margin-bottom:30px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 40px;
  }
}

.page__main__wrapper {
  @include make-md-column(9);
}

.page__side__wrapper {
  @include make-md-column(3);
  margin-bottom: 40px;

  @media (min-width: $screen-md-min) {
    padding-left: 75px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.page__main__wrapper__row {
  @include make-row;
}

.page__title {
  // @include add-padding-for-mobile-title;
  margin-bottom: 30px;
  font-family: $font-family-roboto;
}

.page__title__small {
  // @include add-padding-for-mobile-title;
  margin-bottom: 30px;
  font-family: $font-family-roboto;
}

.page__general {
  margin-bottom: 60px;
}

//Needs to be nested for the content part that useres enter
.page__general > p {
  margin-bottom: 30px;
}

.page__general > ul,
.page__general > ol{
  margin-left: 23px;
}

.page__general > ul > li{
  list-style: normal;
  margin-bottom: 12px;
}

,
.page__general > ol > li {
  list-style: decimal;
  margin-bottom: 12px;
}

.page__general > h3 {
  margin-bottom: 10px;
  font-family: $font-family-roboto;
  font-size: 22px;
}

.page__general a {
  color: $post_anchor;
  bottom: -20px;
  word-wrap: break-word;

    &:hover {
      color: $post_anchor;
      text-decoration: underline;
    }
}

.page__anchor__block {
  display: block;
}
