@media screen and (min-width: 330px){
}

@media screen and (min-width: 375px){
}


@media screen and (min-width: 480px){

}

@media screen and (min-width: 510px){

}

@media screen and (min-width: 600px){

}


@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}


@media screen and (min-width: 1400px){


}
