//Reset Default Style
//Remove #side id name and add content__sidebar class name
#sidebar h3{
  margin-bottom: 10px;
  font-size:1.8rem;
}

.content__sidebar .widget{
  margin-bottom: 45px;
}

.widget_search{
  margin-bottom: 0;
}

.content__sidebar ul,
.content__sidebar ol,
.widget-over-article ul,
.widget-over-article ol,
.widget-under-article ul,
.widget-under-article ol,
.widget-over-sns-buttons ul,
.widget-over-sns-buttons ol,
.widget-under-sns-buttons ul,
.widget-under-sns-buttons ol{
  padding-left: 1em;
  list-style:none;
}

.content__sidebar ul.snsp,
#main ul.snsp,
#footer ul.snsp{
  padding-left: 0;
}

.widget-over-article{
  margin-top: 10px;
  margin-bottom: 10px;
}

.content__sidebar-recent-posts li,
.content__sidebar-popular-posts li{
  margin:20px 0;
}

.content__sidebar li{
  margin-bottom:5px;
}

.sidebar-thumbnail-box{
  float: left;
  width: 75px;
}

.sidebar-recent-posts-title{
  float: right;
  width: 165px;
}
  .content__sidebar-recent-posts h3,
  .content__sidebar-recent-posts p,
  .content__sidebar-popular-posts h3,
  .content__sidebar-popular-posts p{
    margin: 0;
  }

//Custom Style

.content__sidebar {
  font-size: 1.4rem;
}

.sidebar__widgets {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile-description {
  @include clearfix;

  >a {
    color: $base_anchor;
  }
}

.sidebar__widgets {
  margin-bottom: 50px;
}

.sidebar_widget_title {
  font-size: 1.8rem;
  font-weight: bold;
}

.advertising > h1 {
  font-size: 1.2rem;
}

.profile-image {
  width: 100px;
  float: left;
  margin-right: 5px;
}

.sidebar-twitter-follow {
  margin-top: 10px;
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
  }  
}

//remove
.advertising > img {
  @include image-responsive;
}

//Searchbar
input[type="text"] {
  border-radius: 0;
}

#s {
  margin-bottom: 0;
}

.single .profile-sidebar {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
  }
}
