//Reset Default Style
blockquote {
  border: none;
  padding: 20px 30px;
  font-size: 1.6rem;
  font-style: normal;
  position: relative;
}


blockquote:before {
  color: #C8C8C8;
  content: "“";
  font-family: serif;
  font-size: 5rem;
  left: 0;
  line-height: 1em;
  position: absolute;
  top: 0;
}

blockquote:after {
  bottom: 0;
  color: #C8C8C8;
  content: "”";
  font-family: serif;
  font-size: 5rem;
  line-height: 0;
  position: absolute;
  right: 3px;
  bottom: 1px;
}

.italic {
  font-size: 1.75rem;
  font-style: italic;
}
//Custom Style
//Home. Archive
.entry__info {
  font-size: 1.2rem;
}

.entry__pubdate,
.entry__revidate {
  margin-left: -4px;
}

.entry__pubdate {
  margin-right: 4px;
}

.entry__title {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: bold;
  margin: 10px 0;

  @media (min-width: $screen-sm-min) {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }
}

.entry__image {
  @include image-responsive;
}

.entry__description {
 font-size: 1.6rem;
 color: $base-font-color;
}

//Single page
.entry__wrapper {
  margin-bottom: 50px;
}

.entry__anchor {
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base_anchor;
    text-decoration: underline;
  }
}

.entry__title--post {//h1
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: bold;
  margin: 20px 0;

  @media (min-width: $screen-sm-min) {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }
}

.entry-content h2 {
  font-size: 2.6rem;
  line-height: 3.4rem;
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.entry-content > h2 {
  margin: 80px 0 30px;
  line-height: 3.4rem;
  position: relative;
  padding: 0 10px;
  border-left:3px solid $yellow;

}

.entry-content h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;

  @media (min-width: $screen-sm-min) {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

.entry-content > h3 {
  margin: 50px 0 15px;
}

.entry-content h4 {
  font-weight: bold;
}

.entry-content > h4 {
  margin: 40px 0 20px;
}



.entry-content p {
  line-height: 2.8rem;
  margin-bottom: 30px;
  color: $post_content;
}
//
// .entry-content > ul,
// .entry-content > ol{
//   margin-left: 23px;
// }

.table-of-contents {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.entry-content ul {
  margin-left: 20px;
}

.entry-content > ul {
  margin-bottom: 30px;
}

.entry-content > ul > li,
.entry-content > ol > li {
  margin-bottom: 12px;
}


.table-of-contents > ol > li {
  list-style: decimal;
  margin-bottom: $base-font-size;
}

.table-of-contents > ol > li > ol {
  padding-left: 20px;
}

.entry-content a {
  color: $base_anchor;
  word-wrap: break-word;
  text-decoration: underline;

    &:hover {
      color: $base_anchor;
      text-decoration: underline;
    }
}

.entry-content a.entry__cta {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;  
  color: white;
  text-decoration: none;
  padding: 15px;
  background-color: $base_cta_back;
  border: 1px solid $base_cta_back;
  transition: all 0.3s;
  width: 100%;
  text-align: center;

  @media (min-width: $screen-sm-min) {
  display: inline-block;
    width: auto;
    padding: 15px 40px;
  }  

  &:hover {
    color: $base_cta_back;
    background-color: $white;
    border: 1px solid $base_cta_back;
  }
}

.entry-content img {
  border: 1px solid #ccc;
  margin: 20px 0;
  @include image-responsive;
}

.entry-content img.affiliate {
  margin: 0;
  border: 0;
  display: inline;
}

//Comment
input[type="submit"] {
  border-radius: 0;
}

//profile bottom
.widget-over-sns-buttons {
  margin: 30px 0;
}

.profile-bottom {
  @include clearfix;

  a {
    color: $base_anchor;
  }
}

//recommended posts
.recommended-post {
  list-style: none;
  margin-bottom: 16px;
  > a {
      color: $base_anchor;
  }
}

.widget-over-sns-buttons-title.main-widget-label {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
}

// table
.entry-content table{
  margin-bottom: 20px;
}

.entry-content td,
.entry-content th {
  border: 1px solid #ccc;
  padding: 10px;
}

.entry-content th {
  background-color: $grey;
}

/*マーカーの黄色のような色*/
.marker{
  background-color:#FF9;
}

/*下半分のマーカー色（km）*/
.marker-under{
  background: linear-gradient(transparent 60%, #ffff66 60%);
}

//Reset post's navigation margin
.navigation {
  margin: 20px 0 40px;
}