.ad-label {
  font-size: 1.2rem;
}

.ad__space {
  margin-bottom: 30px;
}

.ad__space--article {
  margin: 30px auto;
  width: 320px;

  @media (min-width: $mobile-nav-break) {
    width: 336px;
  }
}

.ad__space--bottom {
  margin: 30px auto;
  width: 300px;

  @media (min-width: $mobile-nav-break) {
    width: 336px;
  }

}

//Yomereba

.kaerebalink-box,
.booklink-box {
  @include clearfix;
  border: 2px solid #CCCCCC;
  padding: 20px;
  width: 80%;
  margin: 0 auto 30px;

  @media (min-width: $mobile-nav-break) {
    width: 90%;
    max-width: 680px;
  }


}

.kaerebalink-image,
.booklink-image {
  @media (min-width: $mobile-nav-break) {
    width: 20%;
    float: left;
  }
}

.kaerebalink-image > a > img,
.booklink-image > a > img {
  max-width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 480px;
  }

  @media (min-width: 1024px) {
    width: 100%;
  }

}

.kaerebalink-info,
.booklink-info {
  margin-top: 10px;
  border-top: 1px solid #CCCCCC;

  @media (min-width: $mobile-nav-break) {
    width: 70%;
    float: left;
    margin-top: 0;
    margin-left: 20px;
    border: 0;
  }
}

.kaerebalink-powered-date,
.booklink-powered-date {
  font-size: 12px;
}

.kaerebalink-link1,
.booklink-link2 {
  margin-top: 18px;
}

.kaerebalink-link1 > div,
.booklink-link2 > div {
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;

  @media (min-width: $mobile-nav-break) {
    float: left;
    width: 30%;
  }
}

.shoplinkamazon > a {
  color: #fff;
  background-color: #FF9900;
  display: block;
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #fff;
    background: #FFB23F;
    text-decoration: none;
  }
}

.shoplinkkindle > a {
  color: #fff;
  background-color: #0079BA;
  display: block;
  width: 100%;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #fff;
    background: #2797D4;
    text-decoration: none;
  }
}

.shoplinkrakuten > a{
  color: #fff;
  background-color: #bf0000;
  display: block;
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #fff;
    background: #DC3939;
    text-decoration: none;
  }
}
