//desktop nav
.desktop__nav {
  display: none;

  @media (min-width: $mobile-nav-break) {
    display: block;
  }
}

.desktop__nav__ul {
  float: right;
  margin-top: 4px;
}

.desktop__nav__li {
  float: left;
  list-style: none;
}

.desktop__nav__li > a {
  padding: 10px;
  font-size: 1.4rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.desktop__nav__li:last-child > a{
  padding: 10px 0 10px 10px;
}

//mobile nav icon
.mobile__nav__icon--open__wrapper {
  display: block;
  float: right;
  height: 20px;
  margin-top: 8px;

  @media (min-width: $mobile-nav-break) {
    display: none;
  }
}

.mobile__nav__icon--open {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  top: 7px;
  background-color: $black;

  &:before,
  &:after {
    content: '';
    background-color: $black;
    display: block;
    height: 2px;
    position: absolute;
    width: 20px;
    z-index: 2;
  }

  &:before {
    top: -6px;
  }

  &:after {
    top: 6px;
  }
}

//mobile nav menu
.mobile__nav.active {
  opacity: 1;
  background-color: rgba(0,0,0,0.9);
  transition: all 0.35s;
  visibility: visible;
  //pointer-events: auto;
}

.mobile__nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
  z-index: 2;
  opacity: 0;
  //pointer-events: none;
}

.mobile__nav__ul {
  padding-top: 40px;
}

.mobile__nav__li {
  list-style: none;
  text-align: center;
}

.mobile__nav__li > a {
  display: block;
  padding: 10px 7px;
  color: $white;
  font-size: 2rem;
}

.mobile__nav__icon--close__wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
}

.mobile__nav__icon--close {
  display: block;
  // height: 3px;
  position: relative;
  width: 20px;
  // top: 7px;

  &:before,
  &:after {
    content: '';
    background-color: $white;
    display: block;
    height: 2px;
    position: absolute;
    width: 20px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

}
