.related-entry-thumb img,
.popular-entry-thumb img{
  max-width: 100px;
  height: auto;
}

.widget_new_entries ul li img,
.widget_new_popular ul li img,
.widget_popular_ranking ul li img {
  max-width: 100px;
  height: auto;
}

.related-entry-title,
.popular-entry-title,
.new-entry-title{
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.8rem;

  @media (min-width: $screen-sm-min) {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.related-entry-title a,
.popular-entry-title a,
.new-entry-title a,{
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: normal;
  color: $base_anchor;
}


.widget_new_popular a {
  text-decoration: underline;
  font-size: 1.4rem;
  font-weight: normal;

  &:hover {
    color: $base_anchor;
  }
}


.related-entries > h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 4px;
}
