//Search Form
.search-bar {
  @media (min-width: $screen-md-min) {
    float: left;
  }
}
.form-custom {
  @include clearfix;

  @media (min-width: $screen-md-min) {
    margin-right: 64px;
  }
}

.form-group-custom {
  float: left;
  width: 82%;
  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    margin-right: 5px;
    width: auto;
  }
}

.input-custom {
  height: 26px;
  padding:2px 6px;
  line-height: normal;

    &:focus {
      border: none;
      box-shadow: none;
    }

    &:placeholder-shown {
      text-transform: uppercase;
    }

  @media (min-width: $screen-md-min) {
    width: 180px;
    height: 20px;
    line-height: normal;
  }
}

.form-btn-custom {
  float: right;
  border: none;
  background-color: transparent;

    &:hover {
      background: none;
    }

    &:focus {
      border: none;
    }

  @media (min-width: $screen-md-min) {
    float: left;
    width: 16px;
    padding: 0;
  }
}

.hdr-contact-desktop {
  display: none;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 12px;

  @media (min-width: $screen-md-min) {
    display: block;
    float: left;
  }
}
