//Reset Default Style
#sns-group{
  clear: both;
}

p.sns-share-msg {
  margin-bottom: 4px;
}

ul.snsb{
  padding: 0;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.snsb li {
  float: left;
  list-style-type: none;
  margin-right: 7px;
  margin-top: 2px;
  margin-bottom: 5px;
}

ul.snsbs li{
  margin-right:5px;
  margin-bottom:5px;
}

ul.snsbs li a{
  color:#fff;
  text-decoration:none;
  font-size:25px;
  background-color:#000;
  display:block;
  padding:7px 6px 3px 6px;
  border-radius:5px;
  width:100%;
  height:30px;
  position:relative;
}

ul.snsbs li a .social-count{
  font-size:10px;
  position:relative;
  background-color:#555;
  width:auto;
  padding:1px 3px;
  border-radius:5px;
  position:absolute;
  display:inline-block;
  right:0;
  bottom:0;
  height:12px;
  line-height:12px;
  font-family: Arial;
}

ul.snsbs a.twitter-btn-icon-link{background-color:#55acee;}
ul.snsbs a.facebook-btn-icon-link{background-color:#3b5998;}
ul.snsbs a.google-plus-btn-icon-link{background-color:#dd4b39;}
ul.snsbs a.hatena-btn-icon-link{background-color:#3C7DD1;}
ul.snsbs a.pocket-btn-icon-link{background-color:#EE4257;}
ul.snsbs a.line-btn-icon-link{background-color:#00c300;}
ul.snsbs a.evernote-btn-icon-link{background-color:#51b125;}
ul.snsbs a.feedly-btn-icon-link{background-color:#87bd33;}
ul.snsbs a.comments-btn-icon-link{
  background-color:#555;
  padding-top: 4px;
  padding-bottom: 6px;
}


.snsbs li a:hover{
  opacity: 0.7;
}

.snsbs li img {
  border-radius:10px;
}

img.evernote-btn-img{
  min-height:62px;
}

img.evernote-btn-img-mini{
  display:none;
}

//Reset Default Viral Button Style
.sns-group-viral ul.snsb li {
    width: 18.21%;

  @media (min-width: 400px) {
    width: 18%;
  }

  @media (min-width: 610px) {
    width: 19.1%;
  }

  @media (min-width: $screen-sm-min) {
    width: 18.85%;
  }

  @media (min-width: $screen-md-min) {
    width: 19.1%;
  }

  @media (min-width: $container-desktop) {
    width: 136px;
  }
}

.sns-group-viral ul.snsb li a {
  width: 100%;
  height: 44px;
  border-radius: 0;
  margin-bottom: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
}

.sns-group-viral ul.snsbs li a .social-count{
  font-size: 12px;
  bottom: 2px;
  font-weight: bold;
  background-color: transparent;
}

.sns-group-viral .social-icon:after {
  display: none;

  @media (min-width: $screen-md-min) {
    display: inline;
    margin-left: 7px;
    position: relative;
    top: -2px;
    font-family: arial;
  }
}

.sns-group-viral .fa-comment:after{
  top: 0;
}


.sns-group-viral .icon-twitter{

  &:before {
    font-size: 2.2rem;
  }

  &:after {
    content: 'Twitter';
  }
}

.sns-group-viral .icon-facebook {

  &:before {
    font-size: 2rem;
  }

  &:after{
    content: 'Facebook';
  }
}

.sns-group-viral .icon-googleplus {

  &:before {
    font-size: 1.9rem;
  }

  &:after{
    content: 'Google+';
  }
}

.sns-group-viral .icon-hatena {

  &:before {
    font-size: 2rem;
  }

  &:after{
    content: 'Hatena';
  }
}

.sns-group-viral .icon-pocket {

  &:before {
    font-size: 1.9rem;
  }

  &:after{
    content: 'Pocket';
  }
}

.sns-group-viral .icon-line:after{
  content: 'Line';
}

.sns-group-viral .icon-evernote:after{
  content: 'Evernote';
}

.sns-group-viral .icon-feedly:after{
  content: 'Feedly';
}

.sns-group-viral .fa-comment:after{
  content: 'Comment';
}

//Viral Share Bar
#sharebar .sns-group-viral ul.snsb li a{
  width: 68px;
}

#sharebar .sns-group-viral .social-icon:after{
  display: none;
}

//SNS Page Follow
.sns-follow-msg{
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.sns-share-msg{
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

#header .sns-follow-msg{
  display:none;
}

ul.snsp{
  list-style:none;
  padding-left:0;
  margin:4px 0;
}

ul.snsp li{
  display:inline;
  margin-right:5px;
}

ul.snsp li a{
  display: inline-block;
  color:#666;
  //line-height:170%;
  text-decoration:none;
  height: 40px;
  border: 3px solid #666;
  line-height: 0;

  width: 18.21%;

  @media (min-width: 400px) {
    width: 18%;
  }

  @media (min-width: 610px) {
    width: 19.1%;
  }

  @media (min-width: $screen-sm-min) {
    width: 18.85%;
  }

  @media (min-width: $screen-md-min) {
    width: 19.1%;
  }

  @media (min-width: $container-desktop) {
    width: 136px;
  }
}

ul.snsp li a span {
  text-align: center;
  width: 100%;
}


//Facebookコメント欄が表示されない不具合修正
.fb-like iframe {
    max-width: none;
}

ul.snsp li.twitter-page a {

  &:hover {
    border: 3px solid #55acee;
  }

  span{
    font-size: 30px;
  }
}

ul.snsp li.facebook-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #3b5998;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}


ul.snsp li.google-plus-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #dd4b39;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}


ul.snsp li.instagram-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #3f729b;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}

ul.snsp li.hatebu-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #008fde;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}

ul.snsp li.pinterest-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #cc2127;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}


ul.snsp li.youtube-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #e52d27;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}


ul.snsp li.flickr-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #1d1d1b;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}


ul.snsp li.feedly-page a {

  &:hover {
    border: 3px solid #87bd33;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}

ul.snsp li.line-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #00c300;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}

ul.snsp li.rss-page a {
  padding-top: 2px;

  &:hover {
    border: 3px solid #fe9900;
  }

  span{
    font-size: 25px;
    height: 30px;
  }
}

ul.snsp li.feedly-page a img{
  margin-bottom:-3px;
  width:32.5px;
  height:32.5px;
  border-radius:7px;
  border-width:0px;
}

.sns-pages {
  margin: 30px 0;
}

#footer ul.snsp li a span{
  background-color: transparent;
}
