#toc_container {
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 4px;
}

.toc_list > li {
  list-style: none;
  margin-bottom: $base-font-size;
}

.toc_list > li > a {
  display: inline-block;
  margin-bottom: 5px;
}

.toc_list > li > ul > li {
  list-style: none;
  margin-bottom: 5px;
}

//Table of contents original version
.toc_list > ol {
  list-style: none;
  margin-bottom: $base-font-size;
}

.toc_list > ol > a {
  display: inline-block;
  margin-bottom: 5px;
}

.toc_list > ol > ul > ol {
  list-style: none;
  margin-bottom: 5px;
}