html{
	font-size: 62.5%;/*16px = 1.6rem*/
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: $font-smoothing;
	font-smoothing: $font-smoothing;
	text-rendering: $text-rendering;
	font-size: $base-font-size;
	font-size: $base-font-size-rem;
	font-family: $base-font-family;
	background-color: $white;
	color: $base-font-color;
}
//
// .clearfix {
//     *zoom: 1;
//     &:before, &:after {
//         content: " ";
//         display: table;
//     }
//     &:after {
//         clear: both;
//     }
// }

h1,h2,h3,h4,h5,h6{
	margin:0;
}

h1 {
	font-size: 3rem;
}

ul,
li{
	margin:0;
	padding:0;
}

a{
	color: $base-font-color;
	text-decoration: underline;
	
	&:hover,
	&:focus{
		color: $base_anchor;
		text-decoration: underline;
	}

	// &:visited {
	// 	color: $base-font-color;
	// }
}


input,
textarea{
	-webkit-appearance: none;
	border-radius: 0;
}
