/*!
Theme Name: Loudandproud Child Theme of TwentySixteen
Theme URI: http://loudandproud.me
Author: Toru Inamoto
Author URI: http://loudandproud.me
Description: Just a child theme of TwentySixteen
Version: 1.0.0
License: http://loudandproud.me
License URI: http://loudandproud.me
*/a:focus,a:hover,h1,h2,h3,h4,h5{outline:0;border:0}body,button,input,select,textarea{color:#1a1a1a;font-family:Montserrat,"Helvetica Neue",sans-serif;font-size:16px;font-size:1rem;line-height:1.75}@media screen and (min-width:44.375em){.site{margin:0}}.entry-content ul{margin-left:1.2em}.entry-content>ul>li{margin-bottom:16px}.entry-content>p{margin-bottom:1em}.marker{background:-webkit-linear-gradient(transparent 60%,#ff6 60%);background:linear-gradient(transparent 60%,#ff6 60%)}.entry-content>h2{margin-bottom:.8em}.entry-content>h3,.entry-content>h4{margin-bottom:.6em}.entry-content>h5{margin-bottom:.3em}.entry-content>p>img{border:1px solid #eaeaea}.entry-content blockquote>ul.resume__item__ul{margin-left:0}.entry-title{font-size:1.3rem}@media screen and (min-width:44.375em){.entry-content blockquote:not(.alignleft):not(.alignright){margin-left:0}.entry-title{font-size:2.0625rem}}.resume-sample{border:1px solid #ccc}.coverletter__bq--content,.coverletter__bq--job-post,.resume__bq{font-style:normal;border-width:1px 1px 1px 4px;color:#1a1a1a;padding:1.2em}.resume__bq{border-color:#9E9E9E}.coverletter__bq--job-post{border-color:#4889A2}.coverletter__bq--content{border-color:#DA3F1C}.resume__item__h3{margin-bottom:.8em}.resume__item__li{list-style:none;margin-bottom:16px;line-height:1.4em}.resume__item__li:last-child{margin-bottom:0}.widget>ul>li{list-style:none}.widget-profile-img{width:80px;float:left;margin-right:8px}.widget_recent_entries li{margin-bottom:.6rem}