//Bootstrap Mixin Customize


@mixin container {
  @include container-fixed;
  // @media (min-width: $screen-sm-min) {
  //   width: $container-sm;
  // }
  @media (min-width: $container-md) {
    width: $container-md;
  }
  // @media (min-width: $screen-lg-min) {
  //   width: $container-lg;
  // }
}

@mixin clear-padding {
  padding-right: 0;
  padding-left: 0;
}

//Layout
@mixin image-responsive {
	display:block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

@mixin hero-background($filename, $position: center) {
  background: {
    image: url(images/#{$filename});
    repeat: no-repeat;
    position: $position;
    size: cover;
  }
}


//custom post
//Bootstrap Mixin Customize
@mixin linemarker ($color: #ffff66) {
  background: linear-gradient(transparent 60%, $color 60%);
}

@mixin blockquote__job ($color:#9E9E9E) {
	font-style: normal;
	border: 1px solid $color;
	border-width: 1px 1px 1px 4px;
	color: #1a1a1a;
	padding: 1.2em;
}
